.card-deck-container {
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  flex:1;
  justify-content: flex-start;
  width: 100%;
  margin-left: 1rem;
}

.filter-container {
  position: fixed;
  width: 250px;
}


@media only screen and (max-width: 1200px) {
  .filter-container {
    position: relative;
    width: 100%;

  }
}
@media only screen and (width < 430px) {
  .card-deck-container {
    justify-content: center;
    margin-left: 0rem;
  }
}
@media only screen and (width < 450px) {
  .card-cont {
    width: 47%;

  }
}

