<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reserve form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="reserveForm">
        <mat-label> Phone Number</mat-label>
        <br>
        <mat-form-field class="mat-form-field-fluid">
<!--          <button prefix mat-icon-button disabled=true style="margin-right: 22px;">+355</button>-->
          <input width="100px" matInput placeholder="+355*********" formControlName="phoneNumber" required>
          <mat-error style="margin-bottom: 15px" *ngIf="phoneNumber.touched && phoneNumber.value.isEmpty">Phone number is
            required</mat-error>
          <mat-error style="margin-bottom: 15px" *ngIf="reserveForm.hasError('pattern','phoneNumber')">Mobile is invalid</mat-error>
        </mat-form-field><br>
        <mat-label>From</mat-label><br>
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="text" class="control" formControlName="startDate" name="startDate" readonly>

        </mat-form-field>
        <mat-label>To</mat-label><br>
        <mat-form-field class="mat-form-field-fluid">
          <input matInput type="date"  class="control" min="{{getDateTime()}}" formControlName="endDate" name="endDate" required>

        </mat-form-field>
        <br>
        <br>
        <button style="margin-top: 5px" id="btn1" mat-raised-button color="primary" [mat-dialog-close]="true" type="submit" (click)="reserveBook()">Save</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
