<div class="card-wrapper">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <a [routerLink]="issued" class="card-book-choose">
  <div class="col" >
    <div class="card h-100 float-container">
      <img src="https://thumbs.dreamstime.com/b/sorry-fully-booked-note-paper-white-background-216862963.jpg" style="max-height: 600px; width: 100%; height: 400px; object-fit: cover; object-position: bottom;"  class="card-img-top" alt="Huazo"/>
      <div class="card-body" style="min-height: 40px; max-height: 120px; height: 120px">
        <h5 class="card-title">Huazo</h5>
        <p class="card-text">
          Huazo nje nga librat e bibliotekes sone per nje periudh afatshkurter
        </p>
      </div>
    </div>
  </div>
  </a>
  <a [routerLink]="home" class="card-book-choose">
  <div class="col">
    <div class="card h-100 float-child">
      <img src="https://us.123rf.com/450wm/djvstock/djvstock1509/djvstock150902628/45428035-education-concept-over-flat-background-with-books-icons-design-vector-illustration-10-eps-graphic.jpg?ver=6" style="max-height: 400px; width: 100%; height: 400px; object-fit: cover; object-position: bottom;"  class="card-img-top" alt="Bli"/>
      <div class="card-body" style="min-height: 40px; max-height: 120px; height: 120px">
        <h5 class="card-title">Bli liber</h5>
        <p class="card-text">Bli nje nga librat e bibliotekes sone </p>
      </div>
    </div>
  </div>
  </a>
</div>
</div>
